{% extends 'base.html.twig' %}

{% block title %}Category create{% endblock %}

{% block body %}

  <h1 class="text-3xl mb-4">Category create</h1>

  {{ component('breadcrumbs', { 'items': [
    { 'name': 'Transactions', 'path': 'app_transaction.index' },
    { 'name': 'Categories', 'path': 'app_category.index' },
    { 'name': 'Create category' }
  ] }) }}

  <form action="{{ path('app_category.store') }}" method="post">
    {% include 'category/form.html.twig' %}
  </form>

{% endblock %}
