{% if errors is defined %}
  {{ component('validation-failed', { 'errors': errors }) }}
{% endif %}

<input type="text"
       name="name"
       placeholder="Name"
       value="{{ category.name ?? '' }}"
       class="input input-bordered w-full my-2"/>

<div id="swatch" class="bg-zinc-950">
  <input type="color"
         name="background"
         id="color"
         value="{{ category.background ?? '#ff0000' }}">
  <div class="info">
    <h1>Background</h1>
    <h2>Color</h2>
  </div>
</div>

<div>
  <button type="submit" class="btn mt-3">
    {% if category is defined %} Update {% else %} Create {% endif %}
  </button>
</div>

<style>
  #swatch{
    box-shadow: 1em 1em 1em rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    width: 10em;
    margin-top: 1rem;
  }

  #swatch .info {
    padding: 1em;
  }

  #swatch h1 {
    margin: 0;
    text-transform: uppercase;
  }

  #swatch h2 {
    font-weight: normal;
    margin: 0;
  }

  input[type="color"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    height: 3em;
    width: 10em;
  }

  *:focus{
    border-radius: 0;
    outline: none;
  }

  ::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  ::-webkit-color-swatch{
    border: 0;
    border-radius: 0;
  }

  ::-moz-color-swatch,
  ::-moz-focus-inner{
    border: 0;
  }

  ::-moz-focus-inner{
    padding: 0;
  }
</style>
