{% extends 'base.html.twig' %}

{% block title %}Budgets{% endblock %}

{% block body %}

  <h1 class="text-3xl mb-4">Budgets</h1>

  {{ component('breadcrumbs', { 'items': [
    { 'name': 'Transactions', 'path': 'app_transaction.index' },
    { 'name': 'Budgets' }
  ] }) }}

  <a href="{{ path('app_budget.create') }}" class="btn gap-2">
    <span class="material-symbols-outlined">add</span>
    Create budgets
  </a>

  {{ component('budgets-table', {
    'budgets': budgets
  }) }}

{% endblock %}
