<div class="stats text-primary-content {{ balance < 0 ? 'bg-accent' : 'bg-secondary' }}">
	<div class="stat">
		<div class="stat-title mb-3 font-bold">{{ 'Account balance'|upper }}</div>
		<div class="stat-value">R$ {{ balance }}</div>
	</div>
</div>

<div class="mt-5">
  <label for="modal-transaction" class="btn gap-2 modal-button">
    <span class="material-symbols-outlined">add</span>
    Create transaction
  </a>
</div>
