<div class="stats bg-primary text-primary-content">
	<div class="stat">
		<div class="stat-title">Account balance</div>
		<div class="stat-value">R$ {{ balance }}</div>
		<div class="stat-actions">
      <label for="modal-transaction" class="btn btn-sm modal-button">
        <span class="material-symbols-outlined">swap_vert</span>
      </label>
		</div>
	</div>
</div>
