<div class="alert alert-warning shadow-lg">
	<div>
		<span class="material-symbols-outlined stroke-info flex-shrink-0 w-6 h-6">error</span>
		<div>
			<h3 class="font-bold">Warnings!</h3>
			<ul>
				{% for error in errors %}
					<li class="text-sm">{{ error.message }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
