{% extends 'base.html.twig' %}

{% block title %}Transaction edit{% endblock %}

{% block body %}

  <h1 class="text-lg mb-4">Transaction edit</h1>

  <div class="text-sm breadcrumbs mb-4">
    <ul>
      <li><a href="{{ path('app_transaction.index') }}">Transactions</a></li>
      <li>Edit transaction</li>
    </ul>
  </div>

  <form action="{{ path('app_transaction.update', { id: transaction.id }) }}" method="post">
    <input type="hidden" name="_method" value="PUT">
    {% include 'transaction/form.html.twig' %}
  </form>

{% endblock %}
