{% extends 'base.html.twig' %}

{% block title %}Transaction edit{% endblock %}

{% block body %}

  <h1 class="text-3xl mb-4">Transaction edit</h1>

  {{ component('breadcrumbs', { 'items': [
    { 'name': 'Transaction', 'path': 'app_transaction.index' },
    { 'name': 'Edit transaction' }
  ] }) }}

  <form action="{{ path('app_transaction.update', { id: transaction.id }) }}" method="post">
    <input type="hidden" name="_method" value="PUT">
    {% include 'transaction/form.html.twig' %}
  </form>

{% endblock %}
