{% extends 'base.html.twig' %}

{% block title %}Finance App{% endblock %}

{% block body %}

  {{ component('account-balance', { 'balance': balance }) }}

  {{ component('currency', { 'coins': coins }) }}

  <h1 class="text-3xl mt-6">Transactions</h1>

  {{ component('transactions-table', { 'transactions': transactions }) }}

  {{ component('transaction-modal', { 'categories': categories }) }}

{% endblock %}
